.search-bar{
    width: 60%;
    display: inline-block;
    margin-bottom: 20px;
}

.cousine-type{
    margin: 0 5px;
}

.restaurant-img{
    width: 100%;
    border-radius: 5% 0 50% 0;
}

.restaurant-card{
    padding-bottom: 25px;
    margin-top: 25px;
    border-bottom: 1px rgb(233, 233, 233) solid;
}
